.About-container {
  height: 900px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
}

.About-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.About-img {
  display: flex;
}

.img-12 img {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 40px;
}

.img-13 img {
  position: relative;
  right: 360px;
  top: 490px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.img-14 img {
  position: relative;
  right: 140px;
  top: 450px;
  border-radius: 20px;
  height: 200px;
  width: 250px;
}

.img-13,
.img-14 {
  width: 0px;
}

.About-text {
  width: 570px;
}

.button-order {
  margin-top: 30px;
}

.Contact-btn {
  margin-left: 275px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 4px solid yellow;
  width: 150px;
  height: 40px;
  color: #d9176f;
  font-weight: bold;
}
